In [7]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import glob

In [2]:
df_algeria = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Algeria_1900-2016_(in_TWh).csv', delimiter = ';')
df_algeria['country'] = 'Algeria'

df_angola = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Angola_1900-2016_(in _TWh).csv', delimiter = ';')
df_benin = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Benin_1980-2016_(in_TWh).csv', delimiter = ';')
df_botswana = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Botswana_1900-2016_(in_TWh).csv', delimiter = ';')
df_burkina_faso = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Burkina_Faso_1980-2016_(in_TWh).csv', delimiter = ';')

In [3]:
df_algeria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    117 non-null    object
 1   Oil                           117 non-null    object
 2   Coal                          117 non-null    object
 3   Gas                           117 non-null    object
 4   Hydroelectricity              37 non-null     object
 5   Nuclear                       37 non-null     float64
 6   Biomass and Waste             37 non-null     float64
 7   Wind                          37 non-null     object
 8   Fuel Ethanol                  37 non-null     float64
 9   Peat                          0 non-null      float64
 10  Geothermal                    37 non-null     float64
 11  Solar, Tide, Wave, Fuel Cell  37 non-null     object
 12  Biodiesel                     17 non-null     float64
 13  country                       117 non-null    object
dtypes: float64(6), object(8)
memory usage: 12.9+ KB

In [34]:
df_angola =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Angola_1900-2016_(in _TWh).csv',delimiter = ';')
df_angola['country']= 'Angola'

df_benin =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Benin_1980-2016_(in_TWh).csv',delimiter = ';')
df_benin['country']= 'Benin'

df_botswana =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Botswana_1900-2016_(in_TWh).csv',delimiter = ';')
df_botswana['country']= 'Botswana'

df_burkina_faso =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Burkina_Faso_1980-2016_(in_TWh).csv',delimiter = ';')
df_burkina_faso['country']= 'Burkina Faso'

df_burundi =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Burundi_1900-2016_(in_TWh).csv',delimiter = ';')
df_burundi['country']= 'Burundi'

df_cameroon =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Cameroon_1900-2016_(in_TWh).csv',delimiter = ';')
df_cameroon['country']= 'Cameroon'

df_cape_verde =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Cape_Verde_1980-2016_(in _TWh).csv',delimiter = ';')
df_cape_verde['country']= 'Cape Verde'

df_central_african_republic =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Central_African_Republic_1980-2016_(in_TWh).csv',delimiter = ';')
df_central_african_republic['country']= 'Central African Republic'

df_chad =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Chad_1980-2016_(in_TWh).csv',delimiter = ';')
df_chad['country']= 'Chad'

df_republic_of_the_congo =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Republic_of_the_Congo_1900-2016_(in_TWh).csv',delimiter = ';')
df_republic_of_the_congo['country']= 'Republic of Congo'

df_democratic_republic_of_the_congo =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Republic_of_the_Congo_1900-2016_(in_TWh).csv',delimiter = ';')
df_democratic_republic_of_the_congo['country'] = 'Democratic Republic of Congo'

df_djibuti =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Djibouti_1980-2016_(in_TWh).csv',delimiter = ';')
df_djibuti['country']= 'Djibuti'

df_equatorial_guinea =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Equatorial_Guinea_1980-2016_(in_TWh).csv',delimiter = ';')
df_equatorial_guinea['country']= 'Equaorial Guinea'

df_eritrea =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Eritrea_1994-2016_(in_TWh).csv',delimiter = ';')
df_eritrea['country']= 'Eritrea'

df_ethiopia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Ethiopia_1980-2016_(in_TWh).csv',delimiter = ';')
df_ethiopia['country']= 'Ethiopia'

df_gabon =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Gabon_1900-2016_(in_TWh).csv',delimiter = ';')
df_gabon['country']= 'Gabon'

df_gambia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Gambia_1980-2016_(in_TWh).csv',delimiter = ';')
df_gambia['country']= 'Gambia'

df_ghana =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Ghana_1900-2016_(in_TWh).csv',delimiter = ';')
df_ghana['country']= 'Ghana'

df_guinea =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Guinea_1980-2016_(in_TWh).csv',delimiter = ';')
df_guinea['country']= 'Guinea'

df_guinea_bissau =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Guinea-Bissau_1980-2016_(in_TWh).csv',delimiter = ';')
df_guinea_bissau['country']= 'Guinea-Bissau'

df_ivory_coast =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Ivory_Coast_1900-2016_(in_TWh).csv',delimiter = ';')
df_ivory_coast['country']= 'Ivory Coast'

df_kenya =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Kenya_1900-2016_(in_TWh).csv',delimiter = ';')
df_kenya['country']= 'Kenya'

df_lesotho =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Lesotho_1980-2016_(in_TWh).csv',delimiter = ';')
df_lesotho['country']= 'Lesotho'

df_liberia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Liberia_1980-2016_(in_TWh).csv',delimiter = ';')
df_liberia['country']= 'Liberia'

df_libya =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Libya_1900-2016_(in_TWh).csv',delimiter = ';')
df_libya['country']= 'Libya'

df_madagascar =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Madagascar_1900-2016_(in_TWh).csv',delimiter = ';')
df_madagascar['country']= 'Madagascar'

df_malawi =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Malawi_1980-2016_(in_TWh).csv',delimiter = ';')
df_malawi['country']= 'Malawi'

df_mali =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mali_1980-2016_(in_TWh).csv',delimiter = ';')
df_mali['country']= 'Mali'

df_mauritania =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mauritania_1980-2016_(in_TWh).csv',delimiter = ';')
df_mauritania['country']= 'Mauritania'

df_mauritius =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mauritius_1980-2016_(in_TWh).csv',delimiter = ';')
df_mauritius['country']= 'Mauritius'

df_mozambique =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mozambique_1900-2016_(in_TWh).csv',delimiter = ';')
df_angola['country']= 'Angola'

df_namibia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Namibia_1990-2016_(in_TWh).csv',delimiter = ';')
df_namibia['country']= 'Namibia'

df_niger =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Niger_1900-2016_(in_TWh).csv',delimiter = ';')
df_niger['country']= 'Niger'

df_nigeria =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Nigeria_1900-2016_(in_TWh).csv',delimiter = ';')
df_nigeria['country']= 'Nigeria'

df_rwanda =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Rwanda_1980-2016_(in_TWh).csv',delimiter = ';')
df_rwanda['country']= 'Rwanda'

df_sao_tome_and_principe =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Sao_Tome_and_Principe_1980-2016_(in–TWh).csv',delimiter = ';')
df_sao_tome_and_principe['country']= 'Sao Tome and Principe'

df_senegal =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Senegal_1980-2016_(in_TWh).csv',delimiter = ';')
df_senegal['country']= 'Senegal'

df_seychelles =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Seychelles_1980-2016_(in_TWh).csv',delimiter = ';')
df_seychelles['country']= 'Seychelles'

df_sierra_leone =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Sierra_Leone_1980-2016_(in_TWh).csv',delimiter = ';')
df_sierra_leone['country']= 'Sierra Leone'

df_somalia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Somalia_1980-2016_(in_TWh).csv',delimiter = ';')
df_somalia['country']= 'Somalia'

df_south_sudan =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/South Sudan, 2012-2016 (in TWh).csv',delimiter = ';')
df_south_sudan['country']= 'South Sudan'

df_sudan =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Sudan_1980-2016_(in_TWh).csv',delimiter = ';')
df_sudan['country']= 'Sudan'

df_swaziland =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Swaziland_1900-2016_(in_TWh).csv',delimiter = ';')
df_swaziland['country']= 'Swaziland'

df_tanzania =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Tanzania_1900-2016_(in_TWh).csv',delimiter = ';')
df_tanzania['country']= 'Tanzania'

df_togo =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Togo_1980-2016_(in_TWh).csv',delimiter = ';')
df_togo['country']= 'Togo'

df_tunisia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Tunisia_1900-2016_(in_TWh).csv',delimiter = ';')
df_tunisia['country']= 'Tunisia'

df_uganda =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Uganda_1900-2016_(in_TWh).csv',delimiter = ';')
df_uganda['country']= 'Uganda'

df_zambia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Zambia_1900-2016_(in_TWh).csv',delimiter = ';')
df_zambia['country']= 'Zambia'

df_zimbabwe =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Zimbabwe_1900-2016_(in_TWh).csv',delimiter = ';')
df_zimbabwe['country']= 'Zimbabwe'

In [20]:
countries= ['Angola','Benin',
            'Botswana','Burkina_Faso','Burundi','Cape_Verde',
            'Cameroon','Central_African_Republic','Chad',
            'Comoros','Ivory_Coast','Congo',
            'Djibouti','Eritrea',
            'Swaziland','Ethiopia','Gabon',
            'Gambia','Ghana','Guinea',
            'Guinea-Bissau','Kenya','Lesotho',
            'Liberia','Libya','Madagascar',
            'Malawi','Mali','Mauritania',
            'Mauritius','Mozambique',
            'Namibia','Niger','Nigeria',
            'Rwanda','São_Tomé_and_Príncipe','Senegal',
            'Seychelles','Sierra_Leone','Somalia',
            'South_Sudan','Sudan','Tanzania',
            'Togo','Tunisia','Uganda',
            'Zambia','Zimbabwe']
            
print(countries)

['Angola', 'Benin', 'Botswana', 'Burkina_Faso', 'Burundi', 'Cape_Verde', 'Cameroon', 'Central_African_Republic', 'Chad', 'Comoros', 'Ivory_Coast', 'Congo', 'Djibouti', 'Eritrea', 'Swaziland', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'São_Tomé_and_Príncipe', 'Senegal', 'Seychelles', 'Sierra_Leone', 'Somalia', 'South_Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

In [ ]:
#list_of_dfs = {}
#for country, file in zip(countries, file_names):
#    list_of_dfs[country] =pd.read_csv(file,delimiter = ';')
#    print(list_of_dfs[country].shape)
#    print(list_of_dfs[country].dtypes)
#    print(list(list_of_dfs[country]))

In [35]:



li = [df_angola,df_benin,df_botswana,df_burkina_faso,df_burundi,df_cameroon,df_cape_verde,
    df_central_african_republic, df_chad,df_democratic_republic_of_the_congo,df_djibuti,df_equatorial_guinea,df_eritrea,
    df_ethiopia,df_gabon,df_gambia,df_ghana,df_guinea,df_guinea_bissau,df_ivory_coast,df_kenya,
    df_lesotho,df_liberia,df_libya,df_madagascar,df_malawi,df_mali,df_mauritania,df_mauritius,
    df_mozambique,df_namibia,df_niger,df_nigeria,df_republic_of_the_congo,df_rwanda,df_sao_tome_and_principe,df_senegal,
    df_seychelles,df_sierra_leone,df_somalia,df_south_sudan,df_sudan,df_swaziland,df_tanzania,
    df_togo,df_tunisia,df_uganda,df_zambia,df_zimbabwe]

africa_frame = pd.concat(li, axis=0, ignore_index=True)

In [36]:
africa_frame

,Unnamed: 0,Oil,Coal,Gas,Hydroelectricity,Nuclear,Biomass and Waste,Wind,Fuel Ethanol,Peat,Geothermal,"Solar, Tide, Wave, Fuel Cell",Biodiesel,country
0,1900-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012-01-01 00:00:00,0.0,"11,5491740586",0.0,"15,245713502",0.0,"0,46666667093",0.0,0,NaN,0.0,"0,014285713989",0.0,Zimbabwe
3433,2013-01-01 00:00:00,0.0,"22,569300115",0.0,"14,131429246",0.0,"0,46111108971",0.0,"0,013137832989",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3434,2014-01-01 00:00:00,0.0,"41,902173592",0.0,"15,362856677",0.0,"0,4000000103",0.0,"0,23224793664",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3435,2015-01-01 00:00:00,0.0,"31,407550016",0.0,"14,114286626",0.0,"0,3583333256",0.0,"0,24675918773",NaN,0.0,"0,028571429141",0.0,Zimbabwe
3436,2016-01-01 00:00:00,0.0,"19,557284794",0.0,"8,4485715157",0.0,"0,33611110539",0.0,"0,27910686973",NaN,0.0,"0,034285714504",0.0,Zimbabwe

In [32]:
df_zimbabwe = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Zimbabwe_1900-2016_(in_TWh).csv', delimiter = ';')
df_zimbabwe.tail()

,Unnamed: 0,Oil,Coal,Gas,Hydroelectricity,Nuclear,Biomass and Waste,Wind,Fuel Ethanol,Peat,Geothermal,"Solar, Tide, Wave, Fuel Cell",Biodiesel
112,2012-01-01 00:00:00,0.0,"11,5491740586",0.0,"15,245713502",0.0,"0,46666667093",0.0,0,NaN,0.0,"0,014285713989",0.0
113,2013-01-01 00:00:00,0.0,"22,569300115",0.0,"14,131429246",0.0,"0,46111108971",0.0,"0,013137832989",NaN,0.0,"0,020000000515",0.0
114,2014-01-01 00:00:00,0.0,"41,902173592",0.0,"15,362856677",0.0,"0,4000000103",0.0,"0,23224793664",NaN,0.0,"0,020000000515",0.0
115,2015-01-01 00:00:00,0.0,"31,407550016",0.0,"14,114286626",0.0,"0,3583333256",0.0,"0,24675918773",NaN,0.0,"0,028571429141",0.0
116,2016-01-01 00:00:00,0.0,"19,557284794",0.0,"8,4485715157",0.0,"0,33611110539",0.0,"0,27910686973",NaN,0.0,"0,034285714504",0.0