In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import glob

## Creating all african Dataframes

* sadly the quick and easy for-loop version did mismatch a few countries and tables, so the slow and needlessly time consuming option it is....

In [2]:
df_angola =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Angola_1900-2016_(in _TWh).csv',delimiter = ';')
df_angola['country']= 'Angola'

df_benin =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Benin_1980-2016_(in_TWh).csv',delimiter = ';')
df_benin['country']= 'Benin'

df_botswana =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Botswana_1900-2016_(in_TWh).csv',delimiter = ';')
df_botswana['country']= 'Botswana'

df_burkina_faso =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Burkina_Faso_1980-2016_(in_TWh).csv',delimiter = ';')
df_burkina_faso['country']= 'Burkina Faso'

df_burundi =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Burundi_1900-2016_(in_TWh).csv',delimiter = ';')
df_burundi['country']= 'Burundi'

df_cameroon =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Cameroon_1900-2016_(in_TWh).csv',delimiter = ';')
df_cameroon['country']= 'Cameroon'

df_cape_verde =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Cape_Verde_1980-2016_(in _TWh).csv',delimiter = ';')
df_cape_verde['country']= 'Cape Verde'

df_central_african_republic =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Central_African_Republic_1980-2016_(in_TWh).csv',delimiter = ';')
df_central_african_republic['country']= 'Central African Republic'

df_chad =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Chad_1980-2016_(in_TWh).csv',delimiter = ';')
df_chad['country']= 'Chad'

df_republic_of_the_congo =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Republic_of_the_Congo_1900-2016_(in_TWh).csv',delimiter = ';')
df_republic_of_the_congo['country']= 'Republic of Congo'

df_democratic_republic_of_the_congo =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Republic_of_the_Congo_1900-2016_(in_TWh).csv',delimiter = ';')
df_democratic_republic_of_the_congo['country'] = 'Democratic Republic of Congo'

df_djibuti =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Djibouti_1980-2016_(in_TWh).csv',delimiter = ';')
df_djibuti['country']= 'Djibuti'

df_equatorial_guinea =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Equatorial_Guinea_1980-2016_(in_TWh).csv',delimiter = ';')
df_equatorial_guinea['country']= 'Equaorial Guinea'

df_eritrea =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Eritrea_1994-2016_(in_TWh).csv',delimiter = ';')
df_eritrea['country']= 'Eritrea'

df_ethiopia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Ethiopia_1980-2016_(in_TWh).csv',delimiter = ';')
df_ethiopia['country']= 'Ethiopia'

df_gabon =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Gabon_1900-2016_(in_TWh).csv',delimiter = ';')
df_gabon['country']= 'Gabon'

df_gambia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Gambia_1980-2016_(in_TWh).csv',delimiter = ';')
df_gambia['country']= 'Gambia'

df_ghana =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Ghana_1900-2016_(in_TWh).csv',delimiter = ';')
df_ghana['country']= 'Ghana'

df_guinea =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Guinea_1980-2016_(in_TWh).csv',delimiter = ';')
df_guinea['country']= 'Guinea'

df_guinea_bissau =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Guinea-Bissau_1980-2016_(in_TWh).csv',delimiter = ';')
df_guinea_bissau['country']= 'Guinea-Bissau'

df_ivory_coast =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Ivory_Coast_1900-2016_(in_TWh).csv',delimiter = ';')
df_ivory_coast['country']= 'Ivory Coast'

df_kenya =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Kenya_1900-2016_(in_TWh).csv',delimiter = ';')
df_kenya['country']= 'Kenya'

df_lesotho =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Lesotho_1980-2016_(in_TWh).csv',delimiter = ';')
df_lesotho['country']= 'Lesotho'

df_liberia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Liberia_1980-2016_(in_TWh).csv',delimiter = ';')
df_liberia['country']= 'Liberia'

df_libya =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Libya_1900-2016_(in_TWh).csv',delimiter = ';')
df_libya['country']= 'Libya'

df_madagascar =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Madagascar_1900-2016_(in_TWh).csv',delimiter = ';')
df_madagascar['country']= 'Madagascar'

df_malawi =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Malawi_1980-2016_(in_TWh).csv',delimiter = ';')
df_malawi['country']= 'Malawi'

df_mali =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mali_1980-2016_(in_TWh).csv',delimiter = ';')
df_mali['country']= 'Mali'

df_mauritania =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mauritania_1980-2016_(in_TWh).csv',delimiter = ';')
df_mauritania['country']= 'Mauritania'

df_mauritius =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mauritius_1980-2016_(in_TWh).csv',delimiter = ';')
df_mauritius['country']= 'Mauritius'

df_mozambique =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Mozambique_1900-2016_(in_TWh).csv',delimiter = ';')
df_angola['country']= 'Angola'

df_namibia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Namibia_1990-2016_(in_TWh).csv',delimiter = ';')
df_namibia['country']= 'Namibia'

df_niger =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Niger_1900-2016_(in_TWh).csv',delimiter = ';')
df_niger['country']= 'Niger'

df_nigeria =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Nigeria_1900-2016_(in_TWh).csv',delimiter = ';')
df_nigeria['country']= 'Nigeria'

df_rwanda =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Rwanda_1980-2016_(in_TWh).csv',delimiter = ';')
df_rwanda['country']= 'Rwanda'

df_sao_tome_and_principe =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Sao_Tome_and_Principe_1980-2016_(inâ€“TWh).csv',delimiter = ';')
df_sao_tome_and_principe['country']= 'Sao Tome and Principe'

df_senegal =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Senegal_1980-2016_(in_TWh).csv',delimiter = ';')
df_senegal['country']= 'Senegal'

df_seychelles =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Seychelles_1980-2016_(in_TWh).csv',delimiter = ';')
df_seychelles['country']= 'Seychelles'

df_sierra_leone =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Sierra_Leone_1980-2016_(in_TWh).csv',delimiter = ';')
df_sierra_leone['country']= 'Sierra Leone'

df_somalia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Somalia_1980-2016_(in_TWh).csv',delimiter = ';')
df_somalia['country']= 'Somalia'

df_south_sudan =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/South Sudan, 2012-2016 (in TWh).csv',delimiter = ';')
df_south_sudan['country']= 'South Sudan'

df_sudan =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Sudan_1980-2016_(in_TWh).csv',delimiter = ';')
df_sudan['country']= 'Sudan'

df_swaziland =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Swaziland_1900-2016_(in_TWh).csv',delimiter = ';')
df_swaziland['country']= 'Swaziland'

df_tanzania =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Tanzania_1900-2016_(in_TWh).csv',delimiter = ';')
df_tanzania['country']= 'Tanzania'

df_togo =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Togo_1980-2016_(in_TWh).csv',delimiter = ';')
df_togo['country']= 'Togo'

df_tunisia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Tunisia_1900-2016_(in_TWh).csv',delimiter = ';')
df_tunisia['country']= 'Tunisia'

df_uganda =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Uganda_1900-2016_(in_TWh).csv',delimiter = ';')
df_uganda['country']= 'Uganda'

df_zambia =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Zambia_1900-2016_(in_TWh).csv',delimiter = ';')
df_zambia['country']= 'Zambia'

df_zimbabwe =pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Zimbabwe_1900-2016_(in_TWh).csv',delimiter = ';')
df_zimbabwe['country']= 'Zimbabwe'

In [3]:
countries= ['Angola','Benin',
            'Botswana','Burkina_Faso','Burundi','Cape_Verde',
            'Cameroon','Central_African_Republic','Chad',
            'Comoros','Ivory_Coast','Congo',
            'Djibouti','Eritrea',
            'Swaziland','Ethiopia','Gabon',
            'Gambia','Ghana','Guinea',
            'Guinea-Bissau','Kenya','Lesotho',
            'Liberia','Libya','Madagascar',
            'Malawi','Mali','Mauritania',
            'Mauritius','Mozambique',
            'Namibia','Niger','Nigeria',
            'Rwanda','SÃ£o_TomÃ©_and_PrÃ­ncipe','Senegal',
            'Seychelles','Sierra_Leone','Somalia',
            'South_Sudan','Sudan','Tanzania',
            'Togo','Tunisia','Uganda',
            'Zambia','Zimbabwe']
            
print(countries)

['Angola', 'Benin', 'Botswana', 'Burkina_Faso', 'Burundi', 'Cape_Verde', 'Cameroon', 'Central_African_Republic', 'Chad', 'Comoros', 'Ivory_Coast', 'Congo', 'Djibouti', 'Eritrea', 'Swaziland', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'SÃ£o_TomÃ©_and_PrÃ­ncipe', 'Senegal', 'Seychelles', 'Sierra_Leone', 'Somalia', 'South_Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

In [4]:
#list_of_dfs = {}
#for country, file in zip(countries, file_names):
#    list_of_dfs[country] =pd.read_csv(file,delimiter = ';')
#    print(list_of_dfs[country].shape)
#    print(list_of_dfs[country].dtypes)
#    print(list(list_of_dfs[country]))

## Unifying the africa dataframes to one dataframe

In [5]:



li = [df_angola,df_benin,df_botswana,df_burkina_faso,df_burundi,df_cameroon,df_cape_verde,
    df_central_african_republic, df_chad,df_democratic_republic_of_the_congo,df_djibuti,df_equatorial_guinea,df_eritrea,
    df_ethiopia,df_gabon,df_gambia,df_ghana,df_guinea,df_guinea_bissau,df_ivory_coast,df_kenya,
    df_lesotho,df_liberia,df_libya,df_madagascar,df_malawi,df_mali,df_mauritania,df_mauritius,
    df_mozambique,df_namibia,df_niger,df_nigeria,df_republic_of_the_congo,df_rwanda,df_sao_tome_and_principe,df_senegal,
    df_seychelles,df_sierra_leone,df_somalia,df_south_sudan,df_sudan,df_swaziland,df_tanzania,
    df_togo,df_tunisia,df_uganda,df_zambia,df_zimbabwe]

africa_frame = pd.concat(li, axis=0, ignore_index=True)

In [6]:
africa_frame

,Unnamed: 0,Oil,Coal,Gas,Hydroelectricity,Nuclear,Biomass and Waste,Wind,Fuel Ethanol,Peat,Geothermal,"Solar, Tide, Wave, Fuel Cell",Biodiesel,country
0,1900-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012-01-01 00:00:00,0.0,"11,5491740586",0.0,"15,245713502",0.0,"0,46666667093",0.0,0,NaN,0.0,"0,014285713989",0.0,Zimbabwe
3433,2013-01-01 00:00:00,0.0,"22,569300115",0.0,"14,131429246",0.0,"0,46111108971",0.0,"0,013137832989",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3434,2014-01-01 00:00:00,0.0,"41,902173592",0.0,"15,362856677",0.0,"0,4000000103",0.0,"0,23224793664",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3435,2015-01-01 00:00:00,0.0,"31,407550016",0.0,"14,114286626",0.0,"0,3583333256",0.0,"0,24675918773",NaN,0.0,"0,028571429141",0.0,Zimbabwe
3436,2016-01-01 00:00:00,0.0,"19,557284794",0.0,"8,4485715157",0.0,"0,33611110539",0.0,"0,27910686973",NaN,0.0,"0,034285714504",0.0,Zimbabwe

* Check if zimbabwe is actually the same as zimbabwe in the africa_frame

In [7]:
df_zimbabwe = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy_prod_africa/Zimbabwe_1900-2016_(in_TWh).csv', delimiter = ';')
df_zimbabwe.tail()

,Unnamed: 0,Oil,Coal,Gas,Hydroelectricity,Nuclear,Biomass and Waste,Wind,Fuel Ethanol,Peat,Geothermal,"Solar, Tide, Wave, Fuel Cell",Biodiesel
112,2012-01-01 00:00:00,0.0,"11,5491740586",0.0,"15,245713502",0.0,"0,46666667093",0.0,0,NaN,0.0,"0,014285713989",0.0
113,2013-01-01 00:00:00,0.0,"22,569300115",0.0,"14,131429246",0.0,"0,46111108971",0.0,"0,013137832989",NaN,0.0,"0,020000000515",0.0
114,2014-01-01 00:00:00,0.0,"41,902173592",0.0,"15,362856677",0.0,"0,4000000103",0.0,"0,23224793664",NaN,0.0,"0,020000000515",0.0
115,2015-01-01 00:00:00,0.0,"31,407550016",0.0,"14,114286626",0.0,"0,3583333256",0.0,"0,24675918773",NaN,0.0,"0,028571429141",0.0
116,2016-01-01 00:00:00,0.0,"19,557284794",0.0,"8,4485715157",0.0,"0,33611110539",0.0,"0,27910686973",NaN,0.0,"0,034285714504",0.0

## Converting Column names to standard conventions

In [8]:
cols = africa_frame.columns.to_list()

In [9]:
#converting the column names:
cols = [ col.lower() for col in cols]
cols = [col.replace(' ','_') for col in cols]
cols = [col.replace(',','_') for col in cols]
cols = [col.replace('unnamed:_0','year') for col in cols]
cols

['year',
 'oil',
 'coal',
 'gas',
 'hydroelectricity',
 'nuclear',
 'biomass_and_waste',
 'wind',
 'fuel_ethanol',
 'peat',
 'geothermal',
 'solar__tide__wave__fuel_cell',
 'biodiesel',
 'country']

In [10]:
#exchangeing the colum names
africa_frame.columns = cols

#check if it worked
africa_frame

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,peat,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
0,1900-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904-01-01 00:00:00,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012-01-01 00:00:00,0.0,"11,5491740586",0.0,"15,245713502",0.0,"0,46666667093",0.0,0,NaN,0.0,"0,014285713989",0.0,Zimbabwe
3433,2013-01-01 00:00:00,0.0,"22,569300115",0.0,"14,131429246",0.0,"0,46111108971",0.0,"0,013137832989",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3434,2014-01-01 00:00:00,0.0,"41,902173592",0.0,"15,362856677",0.0,"0,4000000103",0.0,"0,23224793664",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3435,2015-01-01 00:00:00,0.0,"31,407550016",0.0,"14,114286626",0.0,"0,3583333256",0.0,"0,24675918773",NaN,0.0,"0,028571429141",0.0,Zimbabwe
3436,2016-01-01 00:00:00,0.0,"19,557284794",0.0,"8,4485715157",0.0,"0,33611110539",0.0,"0,27910686973",NaN,0.0,"0,034285714504",0.0,Zimbabwe

# Correcting the Datatypes

In [11]:
#casting year from string to datetime

africa_frame['year']=pd.to_datetime(africa_frame['year'],yearfirst= True)
africa_frame['year']=africa_frame['year'].dt.year
print(africa_frame.info())
africa_frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3437 non-null   int64
 1   oil                           2557 non-null   object
 2   coal                          2637 non-null   object
 3   gas                           2077 non-null   object
 4   hydroelectricity              2077 non-null   object
 5   nuclear                       1757 non-null   float64
 6   biomass_and_waste             1757 non-null   object
 7   wind                          1757 non-null   object
 8   fuel_ethanol                  1741 non-null   object
 9   peat                          0 non-null      float64
 10  geothermal                    1837 non-null   object
 11  solar__tide__wave__fuel_cell  1757 non-null   object
 12  biodiesel                     816 non-null    object
 13  country                       3320 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 376.0+ KB
None

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,peat,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
0,1900,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.0,"11,5491740586",0.0,"15,245713502",0.0,"0,46666667093",0.0,0,NaN,0.0,"0,014285713989",0.0,Zimbabwe
3433,2013,0.0,"22,569300115",0.0,"14,131429246",0.0,"0,46111108971",0.0,"0,013137832989",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3434,2014,0.0,"41,902173592",0.0,"15,362856677",0.0,"0,4000000103",0.0,"0,23224793664",NaN,0.0,"0,020000000515",0.0,Zimbabwe
3435,2015,0.0,"31,407550016",0.0,"14,114286626",0.0,"0,3583333256",0.0,"0,24675918773",NaN,0.0,"0,028571429141",0.0,Zimbabwe
3436,2016,0.0,"19,557284794",0.0,"8,4485715157",0.0,"0,33611110539",0.0,"0,27910686973",NaN,0.0,"0,034285714504",0.0,Zimbabwe

In [12]:
#replacing the , in the "numberstrings" with . 
#cols =  africa_frame.columns.to_list()

#africa_frame['coal'] = africa_frame['coal'].replace(to_replace=',', value='.') 
africa_frame = africa_frame.replace(',','.',regex=True)
africa_frame

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,peat,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
0,1900,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.0,11.5491740586,0.0,15.245713502,0.0,0.46666667093,0.0,0,NaN,0.0,0.014285713989,0.0,Zimbabwe
3433,2013,0.0,22.569300115,0.0,14.131429246,0.0,0.46111108971,0.0,0.013137832989,NaN,0.0,0.020000000515,0.0,Zimbabwe
3434,2014,0.0,41.902173592,0.0,15.362856677,0.0,0.4000000103,0.0,0.23224793664,NaN,0.0,0.020000000515,0.0,Zimbabwe
3435,2015,0.0,31.407550016,0.0,14.114286626,0.0,0.3583333256,0.0,0.24675918773,NaN,0.0,0.028571429141,0.0,Zimbabwe
3436,2016,0.0,19.557284794,0.0,8.4485715157,0.0,0.33611110539,0.0,0.27910686973,NaN,0.0,0.034285714504,0.0,Zimbabwe

In [13]:
#testing the cast from string to numeric
africa_frame['oil'] = pd.to_numeric(africa_frame['oil'],errors= 'ignore') 
#africa_frame['oil'] = africa_frame.astype(float)

In [14]:
print(africa_frame.info())
africa_frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3437 non-null   int64
 1   oil                           2557 non-null   float64
 2   coal                          2637 non-null   object
 3   gas                           2077 non-null   object
 4   hydroelectricity              2077 non-null   object
 5   nuclear                       1757 non-null   float64
 6   biomass_and_waste             1757 non-null   object
 7   wind                          1757 non-null   object
 8   fuel_ethanol                  1741 non-null   object
 9   peat                          0 non-null      float64
 10  geothermal                    1837 non-null   object
 11  solar__tide__wave__fuel_cell  1757 non-null   object
 12  biodiesel                     816 non-null    object
 13  country                       3320 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 376.0+ KB
None

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,peat,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
0,1900,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.0,11.5491740586,0.0,15.245713502,0.0,0.46666667093,0.0,0,NaN,0.0,0.014285713989,0.0,Zimbabwe
3433,2013,0.0,22.569300115,0.0,14.131429246,0.0,0.46111108971,0.0,0.013137832989,NaN,0.0,0.020000000515,0.0,Zimbabwe
3434,2014,0.0,41.902173592,0.0,15.362856677,0.0,0.4000000103,0.0,0.23224793664,NaN,0.0,0.020000000515,0.0,Zimbabwe
3435,2015,0.0,31.407550016,0.0,14.114286626,0.0,0.3583333256,0.0,0.24675918773,NaN,0.0,0.028571429141,0.0,Zimbabwe
3436,2016,0.0,19.557284794,0.0,8.4485715157,0.0,0.33611110539,0.0,0.27910686973,NaN,0.0,0.034285714504,0.0,Zimbabwe

In [15]:
#casting the remaining columns to float
cols = africa_frame.columns.to_list()
removes = ['year','oil','nuclear','peat','country']
ols = [cols.remove(col) for col in removes if col in cols] #removing already correct datatypes
cols

['coal',
 'gas',
 'hydroelectricity',
 'biomass_and_waste',
 'wind',
 'fuel_ethanol',
 'geothermal',
 'solar__tide__wave__fuel_cell',
 'biodiesel']

In [16]:
for col in cols:
    africa_frame[col] = pd.to_numeric(africa_frame[col],errors = 'coerce')

africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3437 non-null   int64
 1   oil                           2557 non-null   float64
 2   coal                          2637 non-null   float64
 3   gas                           2077 non-null   float64
 4   hydroelectricity              2077 non-null   float64
 5   nuclear                       1757 non-null   float64
 6   biomass_and_waste             1757 non-null   float64
 7   wind                          1757 non-null   float64
 8   fuel_ethanol                  1741 non-null   float64
 9   peat                          0 non-null      float64
 10  geothermal                    1837 non-null   float64
 11  solar__tide__wave__fuel_cell  1757 non-null   float64
 12  biodiesel                     816 non-null    float64
 13  country                       3320 non-null   object
dtypes: float64(12), int64(1), object(1)
memory usage: 376.0+ KB

# Checking for duplicates

In [17]:
africa_frame.duplicated().value_counts() #so no duplicates in the dataframe! Which is good!

False    3437
dtype: int64

In [18]:
africa_frame['nuclear'].isnull().value_counts()

False    1757
True     1680
Name: nuclear, dtype: int64

In [19]:
africa_frame

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,peat,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
0,1900,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.0,11.549174,0.0,15.245714,0.0,0.466667,0.0,0.000000,NaN,0.0,0.014286,0.0,Zimbabwe
3433,2013,0.0,22.569300,0.0,14.131429,0.0,0.461111,0.0,0.013138,NaN,0.0,0.020000,0.0,Zimbabwe
3434,2014,0.0,41.902174,0.0,15.362857,0.0,0.400000,0.0,0.232248,NaN,0.0,0.020000,0.0,Zimbabwe
3435,2015,0.0,31.407550,0.0,14.114287,0.0,0.358333,0.0,0.246759,NaN,0.0,0.028571,0.0,Zimbabwe
3436,2016,0.0,19.557285,0.0,8.448572,0.0,0.336111,0.0,0.279107,NaN,0.0,0.034286,0.0,Zimbabwe

# Adjusting columns to  match the Our World in Data Dataset Columns

In [20]:
africa_frame.columns

Index(['year', 'oil', 'coal', 'gas', 'hydroelectricity', 'nuclear',
       'biomass_and_waste', 'wind', 'fuel_ethanol', 'peat', 'geothermal',
       'solar__tide__wave__fuel_cell', 'biodiesel', 'country'],
      dtype='object')

__needed columns:__
* ~~production of the different  energy categories~~
* ~~share of the different primary energy sources  on the overall produced primary energy~~
* ~~aggregational production by category~~
* ~~aggregational share on energy produced~~

__adjustments:__
* ~~combining biodiesel, fuel_ethanol and biomass_and_waste to biofuel~~
* ~~seperating solar and tide, wave  and fuel cell to solar and other_renewables~~
* ~~drop peat column since it does not contain any values~~

Dropping peat column

In [21]:

africa_frame2 = africa_frame
africa_frame2.drop('peat',axis = 1,inplace = True)
africa_frame2

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
0,1900,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
1,1901,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
2,1902,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
3,1903,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
4,1904,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.0,11.549174,0.0,15.245714,0.0,0.466667,0.0,0.000000,0.0,0.014286,0.0,Zimbabwe
3433,2013,0.0,22.569300,0.0,14.131429,0.0,0.461111,0.0,0.013138,0.0,0.020000,0.0,Zimbabwe
3434,2014,0.0,41.902174,0.0,15.362857,0.0,0.400000,0.0,0.232248,0.0,0.020000,0.0,Zimbabwe
3435,2015,0.0,31.407550,0.0,14.114287,0.0,0.358333,0.0,0.246759,0.0,0.028571,0.0,Zimbabwe
3436,2016,0.0,19.557285,0.0,8.448572,0.0,0.336111,0.0,0.279107,0.0,0.034286,0.0,Zimbabwe

Filling NaN with 0 for calculation purposes

In [22]:
africa_frame2.fillna(0,inplace = True)
africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3437 non-null   int64
 1   oil                           3437 non-null   float64
 2   coal                          3437 non-null   float64
 3   gas                           3437 non-null   float64
 4   hydroelectricity              3437 non-null   float64
 5   nuclear                       3437 non-null   float64
 6   biomass_and_waste             3437 non-null   float64
 7   wind                          3437 non-null   float64
 8   fuel_ethanol                  3437 non-null   float64
 9   geothermal                    3437 non-null   float64
 10  solar__tide__wave__fuel_cell  3437 non-null   float64
 11  biodiesel                     3437 non-null   float64
 12  country                       3437 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 349.2+ KB

Separating Solar, wave, tide and Fuel Cell

In [23]:
#getting more info on the column

africa_frame2[africa_frame2['solar__tide__wave__fuel_cell'] > 0.1]

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,geothermal,solar__tide__wave__fuel_cell,biodiesel,country
1482,2016,0.000000,0.0,0.000000,9.451428,0.0,0.341667,0.180000,0.293615,12.011429,0.105714,0.0,Kenya
1901,2016,3.039892,0.0,0.000000,0.514286,0.0,0.000000,0.297143,0.000000,0.000000,0.100000,0.0,Mauritania
3084,2015,23.722396,0.0,17.343269,0.194286,0.0,0.000000,1.285714,0.000000,0.000000,0.114286,0.0,Tunisia
3085,2016,25.006322,0.0,15.074899,0.128571,0.0,0.000000,1.354286,0.000000,0.000000,0.180000,0.0,Tunisia
3202,2016,0.000000,0.0,0.000000,9.171429,0.0,0.000000,0.000000,0.000000,0.000000,0.108571,0.0,Uganda

* since there are only a few countries, that have a solar... production that is above 0.1 TWh our group decision is, that solar gets assigned null values and the whole column gets added to the other_renewables category! Afurther look on the shift project website visualization underlines this decision

Creating the other_renewables Column

In [24]:
africa_frame2['other_renewables'] = africa_frame2['solar__tide__wave__fuel_cell'] + africa_frame2['geothermal']

africa_frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3437 non-null   int64
 1   oil                           3437 non-null   float64
 2   coal                          3437 non-null   float64
 3   gas                           3437 non-null   float64
 4   hydroelectricity              3437 non-null   float64
 5   nuclear                       3437 non-null   float64
 6   biomass_and_waste             3437 non-null   float64
 7   wind                          3437 non-null   float64
 8   fuel_ethanol                  3437 non-null   float64
 9   geothermal                    3437 non-null   float64
 10  solar__tide__wave__fuel_cell  3437 non-null   float64
 11  biodiesel                     3437 non-null   float64
 12  country                       3437 non-null   object
 13  other_renewables              3437 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 376.0+ KB

Creating the biofuel Column

In [25]:
africa_frame2['biofuel_generation'] = africa_frame2['biomass_and_waste'] + africa_frame2['fuel_ethanol'] + africa_frame['biodiesel']

africa_frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3437 entries, 0 to 3436
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3437 non-null   int64
 1   oil                           3437 non-null   float64
 2   coal                          3437 non-null   float64
 3   gas                           3437 non-null   float64
 4   hydroelectricity              3437 non-null   float64
 5   nuclear                       3437 non-null   float64
 6   biomass_and_waste             3437 non-null   float64
 7   wind                          3437 non-null   float64
 8   fuel_ethanol                  3437 non-null   float64
 9   geothermal                    3437 non-null   float64
 10  solar__tide__wave__fuel_cell  3437 non-null   float64
 11  biodiesel                     3437 non-null   float64
 12  country                       3437 non-null   object
 13  other_renewables              3437 non-null   float64
 14  biofuel_generation            3437 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 402.9+ KB

Creating the total energy production values

In [26]:
#total energy production

africa_frame2['total_prod'] = (africa_frame2['oil'] + africa_frame2['coal'] 
                            + africa_frame2['gas'] + africa_frame2['hydroelectricity'] 
                            + africa_frame2['nuclear'] + africa_frame2['wind'] 
                            + africa_frame2['other_renewables'] +africa_frame2['biofuel_generation'])

africa_frame2.head()

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,geothermal,solar__tide__wave__fuel_cell,biodiesel,country,other_renewables,biofuel_generation,total_prod
0,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Angola,0.0,0.0,0.0
1,1901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Angola,0.0,0.0,0.0
2,1902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Angola,0.0,0.0,0.0
3,1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Angola,0.0,0.0,0.0
4,1904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Angola,0.0,0.0,0.0

In [27]:
# shares of total energy by source
africa_frame2['biofuel_share_energy'] = (africa_frame2['biofuel_generation']/africa_frame2['total_prod'])*100
africa_frame2['oil_share_energy'] = (africa_frame2['oil']/africa_frame2['total_prod']) *100
africa_frame2['gas_share_energy'] = (africa_frame2['gas']/africa_frame2['total_prod'] )*100
africa_frame2['coal_share_energy'] = (africa_frame2['coal']/africa_frame2['total_prod'] )*100
africa_frame2['hydro_share_energy'] = (africa_frame2['hydroelectricity']/africa_frame2['total_prod'] )*100
africa_frame2['nuclear_share_energy'] = (africa_frame2['nuclear']/africa_frame2['total_prod'] )*100
africa_frame2['solar_share_energy'] = 0.0
africa_frame2['wind_share_energy'] = (africa_frame2['wind']/africa_frame2['total_prod'] )*100
africa_frame2['other_renewables_share_energy'] = (africa_frame2['other_renewables']/africa_frame2['total_prod'] )*100

#solar_share_energy gets set to 0 since it is included in other_renewables

In [28]:
africa_frame2.tail()

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,geothermal,...,total_prod,biofuel_share_energy,oil_share_energy,gas_share_energy,coal_share_energy,hydro_share_energy,nuclear_share_energy,solar_share_energy,wind_share_energy,other_renewables_share_energy
3432,2012,0.0,11.549174,0.0,15.245714,0.0,0.466667,0.0,0.000000,0.0,...,27.275840,1.710916,0.0,0.0,42.342139,55.894570,0.0,0.0,0.0,0.052375
3433,2013,0.0,22.569300,0.0,14.131429,0.0,0.461111,0.0,0.013138,0.0,...,37.194978,1.275035,0.0,0.0,60.678353,37.992842,0.0,0.0,0.0,0.053771
3434,2014,0.0,41.902174,0.0,15.362857,0.0,0.400000,0.0,0.232248,0.0,...,57.917278,1.091640,0.0,0.0,72.348313,26.525516,0.0,0.0,0.0,0.034532
3435,2015,0.0,31.407550,0.0,14.114287,0.0,0.358333,0.0,0.246759,0.0,...,46.155501,1.310987,0.0,0.0,68.047252,30.579858,0.0,0.0,0.0,0.061903
3436,2016,0.0,19.557285,0.0,8.448572,0.0,0.336111,0.0,0.279107,0.0,...,28.655360,2.146956,0.0,0.0,68.250006,29.483390,0.0,0.0,0.0,0.119649

In [29]:
africa_frame2['control']= (africa_frame2['biofuel_share_energy']
                            +africa_frame2['oil_share_energy']
                            +africa_frame2['gas_share_energy']
                            +africa_frame2['coal_share_energy']
                            +africa_frame2['hydro_share_energy']
                            +africa_frame2['nuclear_share_energy']
                            +africa_frame2['wind_share_energy']
                            +africa_frame2['other_renewables_share_energy'])

#solar_share_energy gets left out, since it is already included in other_renewables

* limiting the years to the timeframe from 1990-2016

In [30]:
africa_frame3 = africa_frame2[africa_frame2['year'] > 1989]
africa_frame3

,year,oil,coal,gas,hydroelectricity,nuclear,biomass_and_waste,wind,fuel_ethanol,geothermal,...,biofuel_share_energy,oil_share_energy,gas_share_energy,coal_share_energy,hydro_share_energy,nuclear_share_energy,solar_share_energy,wind_share_energy,other_renewables_share_energy,control
90,1990,296.390271,0.000000,5.834961,2.051429,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,97.408151,1.917650,0.000000,0.674198,0.0,0.0,0.0,0.000000,100.0
91,1991,311.989753,0.000000,6.142351,2.042857,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,97.443520,1.918436,0.000000,0.638044,0.0,0.0,0.0,0.000000,100.0
92,1992,329.112439,0.000000,6.182138,2.377143,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,97.465207,1.830813,0.000000,0.703980,0.0,0.0,0.0,0.000000,100.0
93,1993,317.605577,0.000000,6.073679,2.517143,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,97.366365,1.861970,0.000000,0.771665,0.0,0.0,0.0,0.000000,100.0
94,1994,334.700898,0.000000,5.638678,2.531429,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,97.617149,1.644548,0.000000,0.738303,0.0,0.0,0.0,0.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.000000,11.549174,0.000000,15.245714,0.0,0.466667,0.0,0.000000,0.0,...,1.710916,0.000000,0.000000,42.342139,55.894570,0.0,0.0,0.0,0.052375,100.0
3433,2013,0.000000,22.569300,0.000000,14.131429,0.0,0.461111,0.0,0.013138,0.0,...,1.275035,0.000000,0.000000,60.678353,37.992842,0.0,0.0,0.0,0.053771,100.0
3434,2014,0.000000,41.902174,0.000000,15.362857,0.0,0.400000,0.0,0.232248,0.0,...,1.091640,0.000000,0.000000,72.348313,26.525516,0.0,0.0,0.0,0.034532,100.0
3435,2015,0.000000,31.407550,0.000000,14.114287,0.0,0.358333,0.0,0.246759,0.0,...,1.310987,0.000000,0.000000,68.047252,30.579858,0.0,0.0,0.0,0.061903,100.0
3436,2016,0.000000,19.557285,0.000000,8.448572,0.0,0.336111,0.0,0.279107,0.0,...,2.146956,0.000000,0.000000,68.250006,29.483390,0.0,0.0,0.0,0.119649,100.0

In [31]:
africa_frame3[africa_frame3['control'] > 100.0000000000001]
# There are values that diverge from 100.0 but are insignificantly diverging as we can see by the number of decimal places above, following the law of significant decimal places.
# The divergence can be attributed to rounding errors in the division above
# This is weird! the count of values is not the same as the count of rows in the dataframe, but there are also no values shown deviating from 100.0

Empty DataFrame
Columns: [year, oil, coal, gas, hydroelectricity, nuclear, biomass_and_waste, wind, fuel_ethanol, geothermal, solar__tide__wave__fuel_cell, biodiesel, country, other_renewables, biofuel_generation, total_prod, biofuel_share_energy, oil_share_energy, gas_share_energy, coal_share_energy, hydro_share_energy, nuclear_share_energy, solar_share_energy, wind_share_energy, other_renewables_share_energy, control]
Index: []

[0 rows x 26 columns]

In [32]:
africa_frame3.drop('control',axis = 1,inplace = True)

/opt/homebrew/Caskroom/miniconda/base/envs/nf_base/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [33]:
africa_frame3.columns

Index(['year', 'oil', 'coal', 'gas', 'hydroelectricity', 'nuclear',
       'biomass_and_waste', 'wind', 'fuel_ethanol', 'geothermal',
       'solar__tide__wave__fuel_cell', 'biodiesel', 'country',
       'other_renewables', 'biofuel_generation', 'total_prod',
       'biofuel_share_energy', 'oil_share_energy', 'gas_share_energy',
       'coal_share_energy', 'hydro_share_energy', 'nuclear_share_energy',
       'solar_share_energy', 'wind_share_energy',
       'other_renewables_share_energy'],
      dtype='object')

* Creating the aggregational Columns

In [34]:
africa_frame3['fossil_fuels_prod'] = africa_frame3['oil']+africa_frame3['gas']+africa_frame3['coal']
africa_frame3['renewables_prod'] = africa_frame3['wind']+africa_frame3['hydroelectricity']+africa_frame3['biofuel_generation']+africa_frame3['other_renewables']
africa_frame3[['fossil_fuels_prod','renewables_prod', 'nuclear','total_prod']]

/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_39284/1778318797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  africa_frame3['fossil_fuels_prod'] = africa_frame3['oil']+africa_frame3['gas']+africa_frame3['coal']
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_39284/1778318797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  africa_frame3['renewables_prod'] = africa_frame3['wind']+africa_frame3['hydroelectricity']+africa_frame3['biofuel_generation']+africa_frame3['other_renewables']

      fossil_fuels_prod  renewables_prod  nuclear  total_prod
90           302.225232         2.051429      0.0  304.276661
91           318.132103         2.042857      0.0  320.174961
92           335.294577         2.377143      0.0  337.671720
93           323.679257         2.517143      0.0  326.196400
94           340.339576         2.531429      0.0  342.871005
...                 ...              ...      ...         ...
3432          11.549174        15.726666      0.0   27.275840
3433          22.569300        14.625678      0.0   37.194978
3434          41.902174        16.015105      0.0   57.917278
3435          31.407550        14.747951      0.0   46.155501
3436          19.557285         9.098075      0.0   28.655360

[1297 rows x 4 columns]

* Creating columns for aggregated shares columns

In [35]:
africa_frame3['renewables_share_energy'] = africa_frame3['renewables_prod']/africa_frame3['total_prod']
africa_frame3['fossil_fuels_share_energy'] = africa_frame3['fossil_fuels_prod']/africa_frame3['total_prod']
africa_frame3['agg_control'] = africa_frame3['renewables_share_energy']+africa_frame3['fossil_fuels_share_energy']+africa_frame3['nuclear_share_energy']

#africa_frame3[africa_frame3['agg_control']>=1.0000000000000001]
#with control there is the same problem with the previous control  but since the deviation is insignificantly small (less than 1/1.000.000.000), i can be neglected

/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_39284/4115960073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  africa_frame3['renewables_share_energy'] = africa_frame3['renewables_prod']/africa_frame3['total_prod']
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_39284/4115960073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  africa_frame3['fossil_fuels_share_energy'] = africa_frame3['fossil_fuels_prod']/africa_frame3['total_prod']
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_39284/4115960073.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  africa_frame3['agg_control'] = africa_frame3['renewables_share_energy']+africa_frame3['fossil_fuels_share_energy']+africa_frame3['nuclear_share_energy']

# Dataframe Cleanup

Columns to drop:
* biomass_and_waste
* fuel_ethanol
* geothermal
* solar__tide__wave__fuel_cell
* biodiesel

In [36]:
#copying frame3 to not have to run all cells up to now again
africa_frame4 = africa_frame3

In [37]:
#dropping unnecessary columns
africa_frame4 = africa_frame4.drop(['biomass_and_waste','fuel_ethanol','geothermal','solar__tide__wave__fuel_cell','biodiesel'],axis = 1)

In [38]:
africa_frame4.drop('agg_control',axis = 1)

,year,oil,coal,gas,hydroelectricity,nuclear,wind,country,other_renewables,biofuel_generation,...,coal_share_energy,hydro_share_energy,nuclear_share_energy,solar_share_energy,wind_share_energy,other_renewables_share_energy,fossil_fuels_prod,renewables_prod,renewables_share_energy,fossil_fuels_share_energy
90,1990,296.390271,0.000000,5.834961,2.051429,0.0,0.0,Angola,0.000000,0.000000,...,0.000000,0.674198,0.0,0.0,0.0,0.000000,302.225232,2.051429,0.006742,0.993258
91,1991,311.989753,0.000000,6.142351,2.042857,0.0,0.0,Angola,0.000000,0.000000,...,0.000000,0.638044,0.0,0.0,0.0,0.000000,318.132103,2.042857,0.006380,0.993620
92,1992,329.112439,0.000000,6.182138,2.377143,0.0,0.0,Angola,0.000000,0.000000,...,0.000000,0.703980,0.0,0.0,0.0,0.000000,335.294577,2.377143,0.007040,0.992960
93,1993,317.605577,0.000000,6.073679,2.517143,0.0,0.0,Angola,0.000000,0.000000,...,0.000000,0.771665,0.0,0.0,0.0,0.000000,323.679257,2.517143,0.007717,0.992283
94,1994,334.700898,0.000000,5.638678,2.531429,0.0,0.0,Angola,0.000000,0.000000,...,0.000000,0.738303,0.0,0.0,0.0,0.000000,340.339576,2.531429,0.007383,0.992617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,2012,0.000000,11.549174,0.000000,15.245714,0.0,0.0,Zimbabwe,0.014286,0.466667,...,42.342139,55.894570,0.0,0.0,0.0,0.052375,11.549174,15.726666,0.576579,0.423421
3433,2013,0.000000,22.569300,0.000000,14.131429,0.0,0.0,Zimbabwe,0.020000,0.474249,...,60.678353,37.992842,0.0,0.0,0.0,0.053771,22.569300,14.625678,0.393216,0.606784
3434,2014,0.000000,41.902174,0.000000,15.362857,0.0,0.0,Zimbabwe,0.020000,0.632248,...,72.348313,26.525516,0.0,0.0,0.0,0.034532,41.902174,16.015105,0.276517,0.723483
3435,2015,0.000000,31.407550,0.000000,14.114287,0.0,0.0,Zimbabwe,0.028571,0.605093,...,68.047252,30.579858,0.0,0.0,0.0,0.061903,31.407550,14.747951,0.319527,0.680473
3436,2016,0.000000,19.557285,0.000000,8.448572,0.0,0.0,Zimbabwe,0.034286,0.615218,...,68.250006,29.483390,0.0,0.0,0.0,0.119649,19.557285,9.098075,0.317500,0.682500