# Creating Correlations Data to map the over time relationship of energy consumption and GDP

In [1]:
#package import of DA standard packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading in the data from the updated consumptions table
consume_df = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy-consumption-by-source-and-region-solar-zero.csv')

In [3]:
consume_df

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,0.0,0.0,2.051429,2.051429
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,0.0,0.0,2.042857,2.042857
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,0.0,0.0,2.377143,2.377143
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,0.0,0.0,2.517143,2.517143
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,0.0,0.0,2.531429,2.531429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7170,7170,NaN,Yugoslavia,2012,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7171,7171,NaN,Yugoslavia,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7172,7172,NaN,Yugoslavia,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7173,7173,NaN,Yugoslavia,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7174,7174,NaN,Yugoslavia,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [4]:
consume_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   7175 non-null   int64
 1   iso_code                     6433 non-null   object
 2   country                      7175 non-null   object
 3   year                         7175 non-null   int64
 4   nuclear_consumption          3787 non-null   float64
 5   coal_consumption             4267 non-null   float64
 6   hydro_consumption            3787 non-null   float64
 7   oil_consumption              4267 non-null   float64
 8   gas_consumption              4267 non-null   float64
 9   wind_consumption             3787 non-null   float64
 10  solar_consumption            7175 non-null   float64
 11  other_renewable_consumption  3787 non-null   float64
 12  biofuel_consumption          4308 non-null   float64
 13  low_carbon_consumption       3787 non-null   float64
 14  renewables_consumption       3787 non-null   float64
dtypes: float64(11), int64(2), object(2)
memory usage: 840.9+ KB

### Creating the missing columns for correlation calculation

In [5]:
consume_df['total_consumption'] =(consume_df['nuclear_consumption']
                                +consume_df['coal_consumption']
                                +consume_df['gas_consumption']
                                +consume_df['oil_consumption']
                                +consume_df['biofuel_consumption']
                                +consume_df['wind_consumption']
                                +consume_df['solar_consumption']
                                +consume_df['hydro_consumption']
                                +consume_df['other_renewable_consumption'])

consume_df['fossil_consumption'] = (consume_df['coal_consumption']
                                    +consume_df['oil_consumption']
                                    +consume_df['gas_consumption'])

In [6]:
#checking for missing values as a measure of precaution and to have an overview of the amount of missing data
#Missing data might come from countries, that don't exist in their form any more, that renamed themselves or simply have no data for specific years or categories. 
consume_df['total_consumption'].isna().value_counts()

False    3787
True     3388
Name: total_consumption, dtype: int64

In [7]:
consume_df['country'][consume_df['total_consumption'] == 0.0].nunique()

0

## Merging the GDP table to the Consumption table

In [8]:
gdp_frame = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/gdp-ppp-current-international-dollar-clean.csv')
gdp_frame.head()

                  Country Name Country Code  Year       GDP_PPP
0                        Aruba          ABW  1990  1.447709e+09
1  Africa Eastern and Southern          AFE  1990  5.653495e+11
2                  Afghanistan          AFG  1990           NaN
3   Africa Western and Central          AFW  1990  3.544564e+11
4                       Angola          AGO  1990  3.885349e+10

### standardizing the columns of the GDP table

In [9]:
cols = gdp_frame.columns.to_list()

cols = [col.replace(' ','_')for col in cols]
cols = [col.replace('Country_Code','iso_code')for col in cols]
cols = [col.lower() for col in cols]

gdp_frame.columns = cols

gdp_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  8246 non-null   object
 1   iso_code      8246 non-null   object
 2   year          8246 non-null   int64
 3   gdp_ppp       7241 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 257.8+ KB

### Merging the frames

In [10]:
consume_gdp_df = consume_df.merge(gdp_frame,how = 'inner', on =['year','iso_code'])
consume_gdp_df

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption,total_consumption,fossil_consumption,country_name,gdp_ppp
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,0.0,0.0,2.051429,2.051429,23.212326,21.160898,Angola,3.885349e+10
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,0.0,0.0,2.042857,2.042857,24.329961,22.287104,Angola,4.056562e+10
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,0.0,0.0,2.377143,2.377143,24.688982,22.311839,Angola,3.906777e+10
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,0.0,0.0,2.517143,2.517143,24.235641,21.718499,Angola,3.040193e+10
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,0.0,0.0,2.531429,2.531429,23.640077,21.108648,Angola,3.146702e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,7143,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6013,7144,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6014,7145,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6015,7146,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6016,7147,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN

## Adding ht eCorrelation Columns for the different correlations of GDP and Energy Sources

In [11]:
#using iso_code since it is on of the parameters we merged on, country is also an option for list iteration
codes_list = consume_df['iso_code'].unique().tolist()
print(codes_list)

#empty list for storing the individual data frames for seperation by country
li = []

#iterationg through the list of iso_codes to separate the countries and create individual correlation and not have the corr() method do an overall correlation 
for code in codes_list:
    df = consume_gdp_df[consume_gdp_df['iso_code']== code]
    df['corr_gdp_totalcons']        = df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
    df['corr_gdp_fossilcons']       = df['gdp_ppp'].corr(consume_gdp_df['fossil_consumption'], method= 'pearson')
    df['corr_gdp_renewcons']        = df['gdp_ppp'].corr(consume_gdp_df['renewables_consumption'], method= 'pearson')
    df['corr_gdp_gascons']          = df['gdp_ppp'].corr(consume_gdp_df['gas_consumption'], method= 'pearson')
    df['corr_gdp_coalcons']         = df['gdp_ppp'].corr(consume_gdp_df['coal_consumption'], method= 'pearson')
    df['corr_gdp_oilcons']          = df['gdp_ppp'].corr(consume_gdp_df['oil_consumption'], method= 'pearson')
    df['corr_gdp_hydrocons']        = df['gdp_ppp'].corr(consume_gdp_df['hydro_consumption'], method= 'pearson')
    df['corr_gdp_windcons']         = df['gdp_ppp'].corr(consume_gdp_df['wind_consumption'], method= 'pearson')
    df['corr_gdp_biofuelcons']      = df['gdp_ppp'].corr(consume_gdp_df['biofuel_consumption'], method= 'pearson')
    df['corr_gdp_othercons']        = df['gdp_ppp'].corr(consume_gdp_df['other_renewable_consumption'], method= 'pearson')
    df['corr_gdp_nuclearcons']      = df['gdp_ppp'].corr(consume_gdp_df['nuclear_consumption'], method= 'pearson')


    li.append(df)

#concatenation the dataframes in the list to a single dataframe
consume_gdp_df2 = pd.concat(li, axis=0, ignore_index=True)

consume_gdp_df2
#Yes the slicing and copying of the dataframe is intended! 
#But still thanks pandas for pointing it out and remind me, that this is not always a best practice or a good idea!

['AGO', 'BEN', 'BWA', 'BFA', 'BDI', 'CPV', 'CMR', 'CAF', 'TCD', 'COM', 'COG', 'COD', 'CIV', 'DJI', 'ERI', 'SWZ', 'ETH', 'GAB', 'GMB', 'GHA', 'GIN', 'GNB', 'KEN', 'LSO', 'LBR', 'LBY', 'MDG', 'MWI', 'MLI', 'MRT', 'MUS', 'MOZ', 'NAM', 'NER', 'NGA', 'RWA', 'STP', 'SEN', 'SYC', 'SLE', 'SOM', 'SSD', 'SDN', 'TZA', 'TGO', 'TUN', 'UGA', 'ZMB', 'ZWE', 'AFG', nan, 'ALB', 'DZA', 'ASM', 'ATG', 'ARG', 'ARM', 'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 'BMU', 'BTN', 'BOL', 'BIH', 'BRA', 'VGB', 'BRN', 'BGR', 'KHM', 'CAN', 'CYM', 'CHL', 'CHN', 'COL', 'COK', 'CRI', 'HRV', 'CUB', 'CYP', 'CZE', 'DNK', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'EST', 'FRO', 'FJI', 'FIN', 'FRA', 'GUF', 'PYF', 'GEO', 'DEU', 'GIB', 'GRC', 'GRL', 'GRD', 'GLP', 'GUM', 'GTM', 'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KIR', 'OWID_KOS', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LTU', 'LUX', 'MAC', 'MYS', 'MDV', 'MLT', 'MTQ', 'MEX', 'MDA', 'MNG', 'MNE', 'MSR', 'MAR', 'MMR', 'NRU', 'NPL', 'NLD', 'ANT', 'NCL', 'NZL', 'NIC', 'NIU', 'PRK', 'MKD', 'MNP', 'NOR', 'OMN', 'PAK', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'ROU', 'RUS', 'SHN', 'KNA', 'LCA', 'SPM', 'VCT', 'WSM', 'SAU', 'SRB', 'SGP', 'SVK', 'SVN', 'SLB', 'ZAF', 'KOR', 'ESP', 'LKA', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'THA', 'TLS', 'TON', 'TTO', 'TUR', 'TKM', 'TCA', 'UKR', 'ARE', 'GBR', 'USA', 'VIR', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'ESH', 'OWID_WRL', 'YEM']

/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_totalcons']        = df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_fossilcons']       = df['gdp_ppp'].corr(consume_gdp_df['fossil_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_renewcons']        = df['gdp_ppp'].corr(consume_gdp_df['renewables_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_gascons']          = df['gdp_ppp'].corr(consume_gdp_df['gas_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_coalcons']         = df['gdp_ppp'].corr(consume_gdp_df['coal_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_oilcons']          = df['gdp_ppp'].corr(consume_gdp_df['oil_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_hydrocons']        = df['gdp_ppp'].corr(consume_gdp_df['hydro_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_windcons']         = df['gdp_ppp'].corr(consume_gdp_df['wind_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_biofuelcons']      = df['gdp_ppp'].corr(consume_gdp_df['biofuel_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_othercons']        = df['gdp_ppp'].corr(consume_gdp_df['other_renewable_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/1865763767.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_nuclearcons']      = df['gdp_ppp'].corr(consume_gdp_df['nuclear_consumption'], method= 'pearson')

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,...,corr_gdp_fossilcons,corr_gdp_renewcons,corr_gdp_gascons,corr_gdp_coalcons,corr_gdp_oilcons,corr_gdp_hydrocons,corr_gdp_windcons,corr_gdp_biofuelcons,corr_gdp_othercons,corr_gdp_nuclearcons
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,...,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,...,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,...,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,...,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,...,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,7143,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6013,7144,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6014,7145,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6015,7146,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6016,7147,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#checking on the top positive relationships 
consume_gdp_df2[['corr_gdp_totalcons','country','year']][consume_gdp_df2['corr_gdp_totalcons']> 0.994]

#it is very surprising to find countries that have such a strong relation between energy consumption and GDP generation

      corr_gdp_totalcons  country  year
3321            0.997815    India  1990
3322            0.997815    India  1991
3323            0.997815    India  1992
3324            0.997815    India  1993
3325            0.997815    India  1994
...                  ...      ...   ...
5982            0.998179  Vietnam  2016
5983            0.998179  Vietnam  2017
5984            0.998179  Vietnam  2018
5985            0.998179  Vietnam  2019
5986            0.998179  Vietnam  2020

[122 rows x 3 columns]

In [13]:
#checking on who has decoupled/a negative relationship between GDP and energy consumption
consume_gdp_df2[['corr_gdp_totalcons','country','year']][consume_gdp_df2['corr_gdp_totalcons']< -0.8]

      corr_gdp_totalcons   country  year
2928           -0.832578   Germany  1990
2929           -0.832578   Germany  1991
2930           -0.832578   Germany  1992
2931           -0.832578   Germany  1993
2932           -0.832578   Germany  1994
...                  ...       ...   ...
5146           -0.806036  Slovakia  2016
5147           -0.806036  Slovakia  2017
5148           -0.806036  Slovakia  2018
5149           -0.806036  Slovakia  2019
5150           -0.806036  Slovakia  2020

[62 rows x 3 columns]

## Adding the population table to calculate per capita GDP and fill in the correlations for per capita GDP

### Reading in and merging the population data to the correlations table

In [15]:
pop_df = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/population.csv')

pop_df

     iso_code      country  year  population
0         AFG  Afghanistan  1990  12412311.0
1         AFG  Afghanistan  1991  13299016.0
2         AFG  Afghanistan  1992  14485543.0
3         AFG  Afghanistan  1993  15816601.0
4         AFG  Afghanistan  1994  17075728.0
...       ...          ...   ...         ...
7239      ZWE     Zimbabwe  2015  13814642.0
7240      ZWE     Zimbabwe  2016  14030338.0
7241      ZWE     Zimbabwe  2017  14236599.0
7242      ZWE     Zimbabwe  2018  14438812.0
7243      ZWE     Zimbabwe  2019  14645473.0

[7244 rows x 4 columns]

In [16]:
corr_pop_df = consume_gdp_df2.merge(pop_df, how = 'inner', on = ['iso_code','year'])

corr_pop_df

,Unnamed: 0,iso_code,country_x,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,...,corr_gdp_gascons,corr_gdp_coalcons,corr_gdp_oilcons,corr_gdp_hydrocons,corr_gdp_windcons,corr_gdp_biofuelcons,corr_gdp_othercons,corr_gdp_nuclearcons,country_y,population
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,...,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,Angola,11848385.0
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,...,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,Angola,12248901.0
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,...,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,Angola,12657361.0
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,...,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,Angola,13075044.0
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,...,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,Angola,13503753.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,7143,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,26497881.0
6013,7144,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,27168210.0
6014,7145,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,27834811.0
6015,7146,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,28498683.0
6016,7147,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,29161922.0

In [17]:
#dropping the unnecessary additional country and the unnamed column

corr_pop_df.drop(['country_y','country_name', 'Unnamed: 0'], axis = 1, inplace = True)

corr_pop_df

,iso_code,country_x,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,...,corr_gdp_renewcons,corr_gdp_gascons,corr_gdp_coalcons,corr_gdp_oilcons,corr_gdp_hydrocons,corr_gdp_windcons,corr_gdp_biofuelcons,corr_gdp_othercons,corr_gdp_nuclearcons,population
0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,...,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,11848385.0
1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,...,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,12248901.0
2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,...,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,12657361.0
3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,...,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,13075044.0
4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,...,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216,NaN,13503753.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26497881.0
6013,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27168210.0
6014,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27834811.0
6015,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28498683.0
6016,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29161922.0

In [18]:
corr_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6017 entries, 0 to 6016
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   iso_code                     6017 non-null   object
 1   country_x                    6017 non-null   object
 2   year                         6017 non-null   int64
 3   nuclear_consumption          3637 non-null   float64
 4   coal_consumption             3637 non-null   float64
 5   hydro_consumption            3637 non-null   float64
 6   oil_consumption              3637 non-null   float64
 7   gas_consumption              3637 non-null   float64
 8   wind_consumption             3637 non-null   float64
 9   solar_consumption            6017 non-null   float64
 10  other_renewable_consumption  3637 non-null   float64
 11  biofuel_consumption          4158 non-null   float64
 12  low_carbon_consumption       3637 non-null   float64
 13  renewables_consumption       3637 non-null   float64
 14  total_consumption            3637 non-null   float64
 15  fossil_consumption           3637 non-null   float64
 16  gdp_ppp                      5395 non-null   float64
 17  corr_gdp_totalcons           3782 non-null   float64
 18  corr_gdp_fossilcons          3782 non-null   float64
 19  corr_gdp_renewcons           3723 non-null   float64
 20  corr_gdp_gascons             2688 non-null   float64
 21  corr_gdp_coalcons            2845 non-null   float64
 22  corr_gdp_oilcons             3782 non-null   float64
 23  corr_gdp_hydrocons           3155 non-null   float64
 24  corr_gdp_windcons            2501 non-null   float64
 25  corr_gdp_biofuelcons         1310 non-null   float64
 26  corr_gdp_othercons           3180 non-null   float64
 27  corr_gdp_nuclearcons         961 non-null    float64
 28  population                   5987 non-null   float64
dtypes: float64(26), int64(1), object(2)
memory usage: 1.4+ MB

In [19]:
#dropping further unneeded columns

### Calculating per capita GDP

In [20]:
corr_pop_df['gdp_capita'] = corr_pop_df['gdp_ppp'] / corr_pop_df['population']
corr_pop_df['gdp_capita'].isna().value_counts() #null values are to be expected due to possible unreported Data in the population table and Null values for gdp in the gdp table

False    5365
True      652
Name: gdp_capita, dtype: int64

### Calculating the Correlations between the per capita gdp and the energy consumption values

In [21]:

#empty list for storing the individual data frames for seperation by country
li = []

#iterationg through the list of iso_codes to separate the countries and create individual correlation and not have the corr() method do an overall correlation 
for code in codes_list:
    df = corr_pop_df[corr_pop_df['iso_code']== code]
    df['corr_gdp_capita_totalcons']     = df['gdp_capita'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
    df['corr_gdp_capita_fossilcons']    = df['gdp_capita'].corr(consume_gdp_df['fossil_consumption'], method= 'pearson')
    df['corr_gdp_capita_renewcons']     = df['gdp_capita'].corr(consume_gdp_df['renewables_consumption'], method= 'pearson')
    df['corr_gdp_capita_gascons']       = df['gdp_capita'].corr(consume_gdp_df['gas_consumption'], method= 'pearson')
    df['corr_gdp_capita_coalcons']      = df['gdp_capita'].corr(consume_gdp_df['coal_consumption'], method= 'pearson')
    df['corr_gdp_capita_oilcons']       = df['gdp_capita'].corr(consume_gdp_df['oil_consumption'], method= 'pearson')
    df['corr_gdp_capita_hydrocons']     = df['gdp_capita'].corr(consume_gdp_df['hydro_consumption'], method= 'pearson')
    df['corr_gdp_capita_windcons']      = df['gdp_capita'].corr(consume_gdp_df['wind_consumption'], method= 'pearson')
    df['corr_gdp_capita_biofuelcons']   = df['gdp_capita'].corr(consume_gdp_df['biofuel_consumption'], method= 'pearson')
    df['corr_gdp_capita_othercons']     = df['gdp_capita'].corr(consume_gdp_df['other_renewable_consumption'], method= 'pearson')
    df['corr_gdp_capita_nuclearcons']   = df['gdp_capita'].corr(consume_gdp_df['nuclear_consumption'], method= 'pearson')


    li.append(df)

#concatenation the dataframes in the list to a single dataframe
corr_pop_df2 = pd.concat(li, axis=0, ignore_index=True)

corr_pop_df2

/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_totalcons']     = df['gdp_capita'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_fossilcons']    = df['gdp_capita'].corr(consume_gdp_df['fossil_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_renewcons']     = df['gdp_capita'].corr(consume_gdp_df['renewables_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_gascons']       = df['gdp_capita'].corr(consume_gdp_df['gas_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_coalcons']      = df['gdp_capita'].corr(consume_gdp_df['coal_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_oilcons']       = df['gdp_capita'].corr(consume_gdp_df['oil_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_hydrocons']     = df['gdp_capita'].corr(consume_gdp_df['hydro_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_windcons']      = df['gdp_capita'].corr(consume_gdp_df['wind_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_biofuelcons']   = df['gdp_capita'].corr(consume_gdp_df['biofuel_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_othercons']     = df['gdp_capita'].corr(consume_gdp_df['other_renewable_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_70654/214777630.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_capita_nuclearcons']   = df['gdp_capita'].corr(consume_gdp_df['nuclear_consumption'], method= 'pearson')

,iso_code,country_x,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,...,corr_gdp_capita_fossilcons,corr_gdp_capita_renewcons,corr_gdp_capita_gascons,corr_gdp_capita_coalcons,corr_gdp_capita_oilcons,corr_gdp_capita_hydrocons,corr_gdp_capita_windcons,corr_gdp_capita_biofuelcons,corr_gdp_capita_othercons,corr_gdp_capita_nuclearcons
0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,...,0.960854,0.947596,0.2336,NaN,0.957304,0.951124,NaN,0.38587,0.797974,NaN
1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,...,0.960854,0.947596,0.2336,NaN,0.957304,0.951124,NaN,0.38587,0.797974,NaN
2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,...,0.960854,0.947596,0.2336,NaN,0.957304,0.951124,NaN,0.38587,0.797974,NaN
3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,...,0.960854,0.947596,0.2336,NaN,0.957304,0.951124,NaN,0.38587,0.797974,NaN
4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,...,0.960854,0.947596,0.2336,NaN,0.957304,0.951124,NaN,0.38587,0.797974,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6013,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6014,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6015,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6016,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
corr_pop_df2[corr_pop_df2['country_x']== 'Russia']

,iso_code,country_x,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,...,corr_gdp_capita_fossilcons,corr_gdp_capita_renewcons,corr_gdp_capita_gascons,corr_gdp_capita_coalcons,corr_gdp_capita_oilcons,corr_gdp_capita_hydrocons,corr_gdp_capita_windcons,corr_gdp_capita_biofuelcons,corr_gdp_capita_othercons,corr_gdp_capita_nuclearcons
4877,RUS,Russia,1990,328.681,2120.215,463.460,2984.635,4141.954,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4878,RUS,Russia,1991,333.289,1942.913,466.928,2908.481,4249.552,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4879,RUS,Russia,1992,332.295,1825.708,479.428,2777.476,4113.452,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4880,RUS,Russia,1993,331.072,1647.871,484.136,2316.031,4101.491,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4881,RUS,Russia,1994,271.722,1441.226,488.684,2046.039,3853.204,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4882,RUS,Russia,1995,276.478,1388.347,489.598,1785.451,3724.455,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4883,RUS,Russia,1996,302.850,1362.638,428.636,1539.511,3745.234,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4884,RUS,Russia,1997,301.384,1256.449,437.317,1526.909,3454.085,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4885,RUS,Russia,1998,288.109,1176.452,440.270,1462.642,3595.705,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4886,RUS,Russia,1999,338.539,1185.994,445.811,1495.317,3584.664,0.000,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4887,RUS,Russia,2000,363.098,1230.058,455.767,1465.807,3661.916,0.005,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4888,RUS,Russia,2001,377.905,1199.909,479.916,1509.423,3721.691,0.009,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4889,RUS,Russia,2002,388.338,1204.940,444.671,1456.215,3766.752,0.017,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4890,RUS,Russia,2003,409.586,1212.414,424.101,1509.187,3855.955,0.023,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4891,RUS,Russia,2004,391.723,1161.753,475.559,1487.812,3956.193,0.019,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4892,RUS,Russia,2005,401.991,1099.904,464.302,1494.612,4004.014,0.018,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4893,RUS,Russia,2006,418.147,1128.364,463.184,1560.731,4217.365,0.014,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4894,RUS,Russia,2007,425.153,1092.244,470.276,1558.766,4288.175,0.018,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4895,RUS,Russia,2008,430.501,1171.355,434.979,1605.528,4227.481,0.014,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4896,RUS,Russia,2009,429.152,1071.750,457.004,1540.484,3977.896,0.010,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4897,RUS,Russia,2010,444.333,1053.019,434.084,1604.103,4239.206,0.011,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4898,RUS,Russia,2011,448.171,1093.419,422.552,1710.157,4356.365,0.014,0.003,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4899,RUS,Russia,2012,457.285,1144.691,421.019,1739.529,4286.262,0.014,0.011,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4900,RUS,Russia,2013,441.663,1052.714,463.791,1738.413,4248.678,0.011,0.028,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4901,RUS,Russia,2014,460.012,1018.228,441.274,1830.673,4221.986,0.245,0.407,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4902,RUS,Russia,2015,494.493,1071.356,424.984,1736.743,4086.751,0.374,0.849,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4903,RUS,Russia,2016,494.445,1037.978,464.261,1782.957,4206.467,0.372,1.178,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4904,RUS,Russia,2017,507.853,976.107,462.908,1759.152,4311.009,0.348,1.360,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4905,RUS,Russia,2018,508.462,1007.857,473.807,1805.096,4544.997,0.589,1.552,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4906,RUS,Russia,2019,517.494,1008.008,481.318,1824.722,4443.131,0.780,2.439,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485
4907,RUS,Russia,2020,NaN,NaN,NaN,NaN,NaN,NaN,0.000,...,-0.005462,-0.119844,0.78995,-0.601915,-0.133925,-0.167177,0.693942,NaN,0.854774,0.927485

In [29]:
#checking for the amount of null values in total consumption correlation
corr_pop_df2[['country_x','corr_gdp_capita_totalcons']][corr_pop_df2['corr_gdp_capita_totalcons'].isna() == True]

        country_x  corr_gdp_capita_totalcons
1384  Afghanistan                        NaN
1385  Afghanistan                        NaN
1386  Afghanistan                        NaN
1387  Afghanistan                        NaN
1388  Afghanistan                        NaN
...           ...                        ...
6012        Yemen                        NaN
6013        Yemen                        NaN
6014        Yemen                        NaN
6015        Yemen                        NaN
6016        Yemen                        NaN

[1935 rows x 2 columns]

In [31]:
#saving it to csv to share and export. Bag it and ship it!
corr_pop_df2.to_csv(path_or_buf= 'data/correlations.csv')