# Creating Correlations Data to map the over time relationship of energy consumption and GDP

In [33]:
#package import of DA standard packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
#reading in the data from the updated consumptions table
consume_df = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy-consumption-by-source-and-region-solar-zero.csv')

In [35]:
consume_df

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,0.0,0.0,2.051429,2.051429
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,0.0,0.0,2.042857,2.042857
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,0.0,0.0,2.377143,2.377143
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,0.0,0.0,2.517143,2.517143
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,0.0,0.0,2.531429,2.531429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7170,7170,NaN,Yugoslavia,2012,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7171,7171,NaN,Yugoslavia,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7172,7172,NaN,Yugoslavia,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7173,7173,NaN,Yugoslavia,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7174,7174,NaN,Yugoslavia,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [36]:
consume_df['total_consumption'] =(consume_df['nuclear_consumption']
                                +consume_df['coal_consumption']
                                +consume_df['gas_consumption']
                                +consume_df['oil_consumption']
                                +consume_df['biofuel_consumption']
                                +consume_df['wind_consumption']
                                +consume_df['solar_consumption']
                                +consume_df['hydro_consumption']
                                +consume_df['other_renewable_consumption'])

consume_df['fossil_consumption'] = (consume_df['coal_consumption']
                                    +consume_df['oil_consumption']
                                    +consume_df['gas_consumption'])

In [37]:
consume_df['total_consumption'].isna().value_counts()

False    3787
True     3388
Name: total_consumption, dtype: int64

In [38]:
consume_df['country'][consume_df['total_consumption'] == 0].nunique()

0

In [39]:
gdp_frame = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/gdp-ppp-current-international-dollar-clean.csv')
gdp_frame.head()

                  Country Name Country Code  Year       GDP_PPP
0                        Aruba          ABW  1990  1.447709e+09
1  Africa Eastern and Southern          AFE  1990  5.653495e+11
2                  Afghanistan          AFG  1990           NaN
3   Africa Western and Central          AFW  1990  3.544564e+11
4                       Angola          AGO  1990  3.885349e+10

In [40]:
cols = gdp_frame.columns.to_list()

cols = [col.replace(' ','_')for col in cols]
cols = [col.replace('Country_Code','iso_code')for col in cols]
cols = [col.lower() for col in cols]

gdp_frame.columns = cols

gdp_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  8246 non-null   object
 1   iso_code      8246 non-null   object
 2   year          8246 non-null   int64
 3   gdp_ppp       7241 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 257.8+ KB

In [41]:
consume_gdp_df = consume_df.merge(gdp_frame,how = 'inner', on =['year','iso_code'])
consume_gdp_df

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption,total_consumption,fossil_consumption,country_name,gdp_ppp
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,0.0,0.0,2.051429,2.051429,23.212326,21.160898,Angola,3.885349e+10
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,0.0,0.0,2.042857,2.042857,24.329961,22.287104,Angola,4.056562e+10
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,0.0,0.0,2.377143,2.377143,24.688982,22.311839,Angola,3.906777e+10
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,0.0,0.0,2.517143,2.517143,24.235641,21.718499,Angola,3.040193e+10
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,0.0,0.0,2.531429,2.531429,23.640077,21.108648,Angola,3.146702e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,7143,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6013,7144,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6014,7145,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6015,7146,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN
6016,7147,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,"Yemen, Rep.",NaN

In [42]:
#consume_gdp_df['corr_pec_gdp'] = consume_gdp_df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson',min_periods= 1)

countries_list = consume_df['iso_code'].unique().tolist()
#print(countries_list)

#for country in countries:
#    consume_gdp_df['corr_gdp_consumption'] = consume_gdp_df[['country']== country,'gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson',min_periods= 1)

li = []

for country in countries_list:
    df = consume_gdp_df[consume_gdp_df['iso_code']== country]
    df['corr_gdp_totalcons'] = df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
    df['corr_gdp_fossilcons'] = df['gdp_ppp'].corr(consume_gdp_df['fossil_consumption'], method= 'pearson')
    df['corr_gdp_renewcons'] = df['gdp_ppp'].corr(consume_gdp_df['renewables_consumption'], method= 'pearson')
    df['corr_gdp_gascons'] = df['gdp_ppp'].corr(consume_gdp_df['gas_consumption'], method= 'pearson')
    df['corr_gdp_coalcons'] = df['gdp_ppp'].corr(consume_gdp_df['coal_consumption'], method= 'pearson')
    df['corr_gdp_oilcons'] = df['gdp_ppp'].corr(consume_gdp_df['oil_consumption'], method= 'pearson')
    df['corr_gdp_hydrocons'] = df['gdp_ppp'].corr(consume_gdp_df['hydro_consumption'], method= 'pearson')
    df['corr_gdp_windcons'] = df['gdp_ppp'].corr(consume_gdp_df['wind_consumption'], method= 'pearson')
    df['corr_gdp_biofuelcons'] = df['gdp_ppp'].corr(consume_gdp_df['biofuel_consumption'], method= 'pearson')
    df['corr_gdp_othercons'] = df['gdp_ppp'].corr(consume_gdp_df['other_renewable_consumption'], method= 'pearson')

    li.append(df)

#concatenation the dataframes in the list to a single dataframe
consume_gdp_df2 = pd.concat(li, axis=0, ignore_index=True)

consume_gdp_df2

/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_totalcons'] = df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_fossilcons'] = df['gdp_ppp'].corr(consume_gdp_df['fossil_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_renewcons'] = df['gdp_ppp'].corr(consume_gdp_df['renewables_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_gascons'] = df['gdp_ppp'].corr(consume_gdp_df['gas_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_coalcons'] = df['gdp_ppp'].corr(consume_gdp_df['coal_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_oilcons'] = df['gdp_ppp'].corr(consume_gdp_df['oil_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_hydrocons'] = df['gdp_ppp'].corr(consume_gdp_df['hydro_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_windcons'] = df['gdp_ppp'].corr(consume_gdp_df['wind_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_biofuelcons'] = df['gdp_ppp'].corr(consume_gdp_df['biofuel_consumption'], method= 'pearson')
/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_66834/2397080655.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_othercons'] = df['gdp_ppp'].corr(consume_gdp_df['other_renewable_consumption'], method= 'pearson')

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,...,corr_gdp_totalcons,corr_gdp_fossilcons,corr_gdp_renewcons,corr_gdp_gascons,corr_gdp_coalcons,corr_gdp_oilcons,corr_gdp_hydrocons,corr_gdp_windcons,corr_gdp_biofuelcons,corr_gdp_othercons
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,...,0.989609,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,...,0.989609,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,...,0.989609,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,...,0.989609,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,...,0.989609,0.986419,0.980582,0.209357,NaN,0.984368,0.98247,NaN,0.484164,0.869216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,7143,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6013,7144,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6014,7145,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6015,7146,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6016,7147,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#consume_gdp_df2[['corr_gdp_totalcons','country','year']][consume_gdp_df2['corr_gdp_totalcons']> 0.99]
consume_gdp_df2[['corr_gdp_totalcons','country','year']][consume_gdp_df2['corr_gdp_totalcons']> 0.994]

      corr_gdp_totalcons  country  year
3321            0.997815    India  1990
3322            0.997815    India  1991
3323            0.997815    India  1992
3324            0.997815    India  1993
3325            0.997815    India  1994
...                  ...      ...   ...
5982            0.998179  Vietnam  2016
5983            0.998179  Vietnam  2017
5984            0.998179  Vietnam  2018
5985            0.998179  Vietnam  2019
5986            0.998179  Vietnam  2020

[122 rows x 3 columns]

In [48]:
consume_gdp_df2[['corr_gdp_totalcons','country','year']][consume_gdp_df2['corr_gdp_totalcons']< -0.8]

      corr_gdp_totalcons   country  year
2928           -0.832578   Germany  1990
2929           -0.832578   Germany  1991
2930           -0.832578   Germany  1992
2931           -0.832578   Germany  1993
2932           -0.832578   Germany  1994
...                  ...       ...   ...
5146           -0.806036  Slovakia  2016
5147           -0.806036  Slovakia  2017
5148           -0.806036  Slovakia  2018
5149           -0.806036  Slovakia  2019
5150           -0.806036  Slovakia  2020

[62 rows x 3 columns]

In [45]:
consume_gdp_df2.to_csv(path_or_buf= 'data/correlations.csv')