In [17]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
consume_df = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/energy-consumption-by-source-and-region-solar-zero.csv')

In [19]:
consume_df

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,0.0,0.0,2.051429,2.051429
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,0.0,0.0,2.042857,2.042857
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,0.0,0.0,2.377143,2.377143
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,0.0,0.0,2.517143,2.517143
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,0.0,0.0,2.531429,2.531429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7170,7170,NaN,Yugoslavia,2012,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7171,7171,NaN,Yugoslavia,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7172,7172,NaN,Yugoslavia,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7173,7173,NaN,Yugoslavia,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7174,7174,NaN,Yugoslavia,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [20]:
consume_df['total_consumption'] =(consume_df['nuclear_consumption']
                                +consume_df['coal_consumption']
                                +consume_df['gas_consumption']
                                +consume_df['oil_consumption']
                                +consume_df['biofuel_consumption']
                                +consume_df['wind_consumption']
                                +consume_df['solar_consumption']
                                +consume_df['hydro_consumption']
                                +consume_df['other_renewable_consumption']
                                )

In [21]:
consume_df['total_consumption'].isna().value_counts()

False    3787
True     3388
Name: total_consumption, dtype: int64

In [22]:
consume_df['country'][consume_df['total_consumption'] < 0]

Series([], Name: country, dtype: object)

In [23]:
countries= ['Angola','Benin',
            'Botswana','Burkina_Faso','Burundi','Cape_Verde',
            'Cameroon','Central_African_Republic','Chad',
            'Comoros','Ivory_Coast','Congo',
            'Djibouti','Eritrea',
            'Swaziland','Ethiopia','Gabon',
            'Gambia','Ghana','Guinea', 'Guinea-Bissau','Kenya','Lesotho',
            'Liberia','Libya','Madagascar',
            'Malawi','Mali','Mauritania',
            'Mauritius','Mozambique',
            'Namibia','Niger','Nigeria',
            'Rwanda','SÃ£o_TomÃ©_and_PrÃ­ncipe','Senegal',
            'Seychelles','Sierra_Leone','Somalia',
            'South_Sudan','Sudan','Tanzania',
            'Togo','Tunisia','Uganda',
            'Zambia','Zimbabwe']

dfrica =consume_df[consume_df['country'].isin(countries)]
dfrica

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption,total_consumption
0,0,AGO,Angola,1990,0.0,0.000000,2.051429,15.325936,5.834961,0.0,0.0,0.000000,0.000000,2.051429,2.051429,23.212326
1,1,AGO,Angola,1991,0.0,0.000000,2.042857,16.144753,6.142351,0.0,0.0,0.000000,0.000000,2.042857,2.042857,24.329961
2,2,AGO,Angola,1992,0.0,0.000000,2.377143,16.129702,6.182138,0.0,0.0,0.000000,0.000000,2.377143,2.377143,24.688982
3,3,AGO,Angola,1993,0.0,0.000000,2.517143,15.644819,6.073679,0.0,0.0,0.000000,0.000000,2.517143,2.517143,24.235641
4,4,AGO,Angola,1994,0.0,0.000000,2.531429,15.469970,5.638678,0.0,0.0,0.000000,0.000000,2.531429,2.531429,23.640077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,1292,ZWE,Zimbabwe,2012,0.0,24.171134,15.245714,15.858284,0.000000,0.0,0.0,0.014286,0.466667,15.726666,15.726666,55.756084
1293,1293,ZWE,Zimbabwe,2013,0.0,23.844223,14.131429,17.611165,0.000000,0.0,0.0,0.020000,0.474249,14.625678,14.625678,56.081066
1294,1294,ZWE,Zimbabwe,2014,0.0,24.041519,15.362857,16.027809,0.000000,0.0,0.0,0.020000,0.632248,16.015105,16.015105,56.084432
1295,1295,ZWE,Zimbabwe,2015,0.0,25.102891,14.114287,15.790841,0.000000,0.0,0.0,0.028571,0.605093,14.747951,14.747951,55.641682
1296,1296,ZWE,Zimbabwe,2016,0.0,22.252564,8.448572,16.148970,0.000000,0.0,0.0,0.034286,0.615218,9.098075,9.098075,47.499609

In [24]:
dfrica['total_consumption'].isna().value_counts()

False    1076
Name: total_consumption, dtype: int64

In [25]:
gdp_frame = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/gdp-ppp-current-international-dollar-clean.csv')
gdp_frame.head()

                  Country Name Country Code  Year       GDP_PPP
0                        Aruba          ABW  1990  1.447709e+09
1  Africa Eastern and Southern          AFE  1990  5.653495e+11
2                  Afghanistan          AFG  1990           NaN
3   Africa Western and Central          AFW  1990  3.544564e+11
4                       Angola          AGO  1990  3.885349e+10

In [26]:
cols = gdp_frame.columns.to_list()

cols = [col.replace(' ','_')for col in cols]
cols = [col.replace('Country_Code','iso_code')for col in cols]
cols = [col.lower() for col in cols]

gdp_frame.columns = cols

gdp_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  8246 non-null   object
 1   iso_code      8246 non-null   object
 2   year          8246 non-null   int64
 3   gdp_ppp       7241 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 257.8+ KB

In [27]:
consume_gdp_df = consume_df.merge(gdp_frame,how = 'inner', on =['year','iso_code'])
consume_gdp_df

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption,total_consumption,country_name,gdp_ppp
0,0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,0.0,0.0,0.0,2.051429,2.051429,23.212326,Angola,3.885349e+10
1,1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,0.0,0.0,0.0,2.042857,2.042857,24.329961,Angola,4.056562e+10
2,2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,0.0,0.0,0.0,2.377143,2.377143,24.688982,Angola,3.906777e+10
3,3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,0.0,0.0,0.0,2.517143,2.517143,24.235641,Angola,3.040193e+10
4,4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,0.0,0.0,0.0,2.531429,2.531429,23.640077,Angola,3.146702e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6012,7143,YEM,Yemen,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,"Yemen, Rep.",NaN
6013,7144,YEM,Yemen,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,"Yemen, Rep.",NaN
6014,7145,YEM,Yemen,2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,"Yemen, Rep.",NaN
6015,7146,YEM,Yemen,2018,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,"Yemen, Rep.",NaN
6016,7147,YEM,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,"Yemen, Rep.",NaN

In [28]:
#consume_gdp_df['corr_pec_gdp'] = consume_gdp_df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson',min_periods= 1)

countries = pd.read_csv('/Users/sebastianlorenzen-schmidt/neuefische/capstone_project/data/location.csv')
countries_list = countries['location_code'].values.tolist()
#print(countries_list)

#for country in countries:
#    consume_gdp_df['corr_gdp_consumption'] = consume_gdp_df[['country']== country,'gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson',min_periods= 1)

li = []

for country in countries_list:
    df = consume_gdp_df[consume_gdp_df['iso_code']== country]
    df['corr_gdp_consumption'] = df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson')
    li.append(df)

#concatenation the dataframes in the list to a single dataframe
consume_gdp_df2 = pd.concat(li, axis=0, ignore_index=True)

consume_gdp_df2

/var/folders/qy/w2kkgqjx1d5f6bhpsw8k_7rh0000gn/T/ipykernel_64933/3678739743.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_gdp_consumption'] = df['gdp_ppp'].corr(consume_gdp_df['total_consumption'], method= 'pearson')

,Unnamed: 0,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption,total_consumption,country_name,gdp_ppp,corr_gdp_consumption
0,1536,ABW,Aruba,1990,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Aruba,1.447709e+09,NaN
1,1537,ABW,Aruba,1991,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Aruba,1.615845e+09,NaN
2,1538,ABW,Aruba,1992,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Aruba,1.749884e+09,NaN
3,1539,ABW,Aruba,1993,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Aruba,1.922269e+09,NaN
4,1540,ABW,Aruba,1994,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Aruba,2.124387e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5982,1292,ZWE,Zimbabwe,2012,0.0,24.171134,15.245714,15.858284,0.0,0.0,0.0,0.014286,0.466667,15.726666,15.726666,55.756084,Zimbabwe,3.116064e+10,0.289567
5983,1293,ZWE,Zimbabwe,2013,0.0,23.844223,14.131429,17.611165,0.0,0.0,0.0,0.020000,0.474249,14.625678,14.625678,56.081066,Zimbabwe,3.418729e+10,0.289567
5984,1294,ZWE,Zimbabwe,2014,0.0,24.041519,15.362857,16.027809,0.0,0.0,0.0,0.020000,0.632248,16.015105,16.015105,56.084432,Zimbabwe,3.549468e+10,0.289567
5985,1295,ZWE,Zimbabwe,2015,0.0,25.102891,14.114287,15.790841,0.0,0.0,0.0,0.028571,0.605093,14.747951,14.747951,55.641682,Zimbabwe,3.701644e+10,0.289567
5986,1296,ZWE,Zimbabwe,2016,0.0,22.252564,8.448572,16.148970,0.0,0.0,0.0,0.034286,0.615218,9.098075,9.098075,47.499609,Zimbabwe,3.937571e+10,0.289567

In [29]:
consume_gdp_df2[['corr_gdp_consumption','country','year']][consume_gdp_df2['corr_gdp_consumption']> 0.997]

      corr_gdp_consumption  country  year
2563              0.997815    India  1990
2564              0.997815    India  1991
2565              0.997815    India  1992
2566              0.997815    India  1993
2567              0.997815    India  1994
...                    ...      ...   ...
5807              0.998179  Vietnam  2016
5808              0.998179  Vietnam  2017
5809              0.998179  Vietnam  2018
5810              0.998179  Vietnam  2019
5811              0.998179  Vietnam  2020

[62 rows x 3 columns]

In [30]:
consume_gdp_df2[['corr_gdp_consumption','country','year']][consume_gdp_df2['corr_gdp_consumption']< -0.8]

      corr_gdp_consumption   country  year
1476             -0.832578   Germany  1990
1477             -0.832578   Germany  1991
1478             -0.832578   Germany  1992
1479             -0.832578   Germany  1993
1480             -0.832578   Germany  1994
...                    ...       ...   ...
5027             -0.806036  Slovakia  2016
5028             -0.806036  Slovakia  2017
5029             -0.806036  Slovakia  2018
5030             -0.806036  Slovakia  2019
5031             -0.806036  Slovakia  2020

[62 rows x 3 columns]

In [31]:
consume_gdp_df2.to_csv(path_or_buf= 'data/correlations.csv')